<div class="container">
    <mat-card>
        <h2>Customer Details</h2>
        <mat-card-content>
            <form name="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <div class="row">
                    <div class="col-4">
                        <label class="control-label required">First name</label>
                        <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
                        <span *ngIf="!form.controls['firstName'].valid && form.controls['firstName'].touched">
                            <div class="errorMsg">Name is required!</div>
                        </span>
                    </div>
                    <div class="col-4">
                        <label>Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName" placeholder="Last name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label class="control-label required">Email</label>
                        <input type="text" class="form-control" formControlName="email" placeholder="Email"
                            [class.is-invalid]="!form.controls['email'].valid && form.controls['email'].touched">
                        <span *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
                            <div class="errorMsg">Email is required!</div>
                        </span>
                    </div>
                    <div class="col-4">
                        <label class="control-label required">Contact No</label>
                        <input type="text" class="form-control" formControlName="phoneNo" placeholder="">
                        <span *ngIf="!form.controls['phoneNo'].valid && form.controls['phoneNo'].touched">
                            <div class="errorMsg">Phone no is required!</div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label class="control-label required">Address</label>
                        <input type="text" class="form-control" formControlName="address" placeholder="First name">
                        <span *ngIf="!form.controls['firstName'].valid && form.controls['firstName'].touched">
                            <div class="errorMsg">Name is required!</div>
                        </span>
                    </div>
                    <div class="col-4">
                        <label>City</label>
                        <input type="text" class="form-control" formControlName="city" placeholder="City">
                    </div>
                </div>
                <div class="container py-5">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>
                                <div class="col-9 padding-0">
                                    <label class="control-label required">Shipping From </label>
                                    <input type="text" class="form-control" formControlName="fromAddress"
                                        placeholder="">
                                    <span
                                        *ngIf="!form.controls['fromAddress'].valid && form.controls['fromAddress'].touched">
                                        <div class="errorMsg">Required!</div>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="col-12 padding-0">
                                    <label class="control-label required">Shipping To </label>
                                    <input type="text" class="form-control" formControlName="toAddress" placeholder="">
                                    <span
                                        *ngIf="!form.controls['toAddress'].valid && form.controls['toAddress'].touched">
                                        <div class="errorMsg">Required!</div>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-9">
                                    <label class="control-label required">City </label>
                                    <input type="text" class="form-control" formControlName="fromCity" placeholder="">
                                    <span *ngIf="!form.controls['fromCity'].valid && form.controls['fromCity'].touched">
                                        <div class="errorMsg">Required!</div>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="col-12">
                                    <label class="control-label required">City </label>
                                    <input type="text" class="form-control" formControlName="toCity" placeholder="">
                                    <span *ngIf="!form.controls['toCity'].valid && form.controls['toCity'].touched">
                                        <div class="errorMsg">Required!</div>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-9">
                                    <label class="control-label required">Postal Code</label>
                                    <input type="text" class="form-control" formControlName="fromPostalCode"
                                        placeholder="">
                                    <span
                                        *ngIf="!form.controls['fromPostalCode'].valid && form.controls['fromPostalCode'].touched">
                                        <div class="errorMsg">Required!</div>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="col-12">
                                    <label class="control-label required">Postal Code</label>
                                    <input type="text" class="form-control" formControlName="toPostalCode"
                                        placeholder="">
                                    <span
                                        *ngIf="!form.controls['toPostalCode'].valid && form.controls['toPostalCode'].touched">
                                        <div class="errorMsg">Required!</div>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-9">
                                     <label>Pickup Date</label>
                                    <mat-form-field>                            
                                        <input formControlName="pickupDate" matInput [matDatepicker]="myPicker"  placeholder="">
                                        <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #myPicker></mat-datepicker>
                                    </mat-form-field>
                                    <span *ngIf="!form.controls['pickupDate'].valid && form.controls['pickupDate'].touched">
                                        <div class="errorMsg"> Required!</div>
                                    </span>
                                     
                                </div>
                            </td>
                            <td>
                                <div class="col-12">
                                    <label class="control-label required">Contact Person No</label>
                                    <input type="text" class="form-control" formControlName="contactPersonNo"
                                        placeholder="">
                                        <span *ngIf="!form.controls['contactPersonNo'].valid && form.controls['contactPersonNo'].touched">
                                            <div class="errorMsg"> Required!</div>
                                        </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="row">
                    <label for="deliveryType">Delivery Options:</label>
                    <div>
                        <input id="std" type="radio" value="Standard" name="deliveryType" formControlName="deliveryType">
                        <label for="std">Standard</label>
                    </div>

                    <div>
                        <input id="speed" type="radio" value="Speed" name="deliveryType" formControlName="deliveryType">
                        <label for="speed">Speed</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label class="control-label required">Commodity </label>
                        <input type="text" class="form-control" formControlName="commodity" placeholder="">
                    </div>
                    <div class="col-4">
                        <label class="control-label required">Weight(approx)</label>
                        <input type="text" class="form-control" formControlName="weight" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    <label class="control-label">Notes</label>
                    <input type="test" class="form-control" formControlName="commodity">
                </div>
                </div>
                <div class="btn">
                    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Save</button>
                    
                </div>
            </form>
            <button class="btn btn-success" (click)="getInvoiceDetails()">Submit</button>
        </mat-card-content>
    </mat-card>
    <dx-popup
    [width]="400"
    [height]="280"
    [showTitle]="true"
    title="Invoice"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [showCloseButton]="false"
    container=".dx-viewport"
    [(visible)]="popupVisible"
    >
    <table class="custom_class">
        <tr>
            <td><strong>ShippingFrom</strong></td>
            <td style="text-align: right;">{{this.fromAddress}}</td>
        </tr>
        <tr>
            <td><strong>ShipiingTo</strong></td>
            <td style="text-align: right;">{{this.toAddress}}</td>
        </tr>
        <tr>
            <td><strong>Commodity</strong></td>
            <td style="text-align: right;">{{this.commodity}}</td>
        </tr>
        <tr>
            <td><strong>Tax</strong></td>
            <td style="text-align: right;">{{this.tax}}</td>
        </tr>
        <tr>
            <td><strong>Total Cost</strong></td>
            <td style="text-align: right;">{{this.totalCost}}</td>
        </tr>
        <button class="btn btn-primary">Print</button>
    </table>
    </dx-popup>
</div>